# Visualizing Urine output values from MIMIC2

In [ ]:
%matplotlib inline

In [ ]:
import pymysql
import pandas as pd
import os
import seaborn as sns

### Connect to MySQL server

Every time the MySQL Docker server comes up it gets a new IP address. use ``docker inspect mimic2-mysql | grep IP`` to identify the correct IP address to use.

In [ ]:
conn = pymysql.connect(host="mysql",port=3306,
                       user="jovyan",passwd='jovyan',
                       db='mimic2')

In [ ]:
cursor = conn.cursor()

In [ ]:
urineoutput = pd.read_sql("""SELECT ioevents.subject_id, ioevents.volume  
                          FROM ioevents INNER JOIN icd9 ON
                              ioevents.subject_id = icd9.subject_id
                          WHERE itemid in (55, 56, 57, 61, 65, 69, 85, 94, 96, 288, \
                                           405, 428, 473, 651, 715, 1922, 2042, \
                                           2068, 2111, 2119, 2130, 2366, 2463, \
                                           2507, 2510, 2592, 2676, 2810, 2859, \
                                           3053, 3175, 3462, 3519, 3966, 3987, 4132, 4253, 5927) 
                                AND (icd9.code = '427.31')""",conn)

In [ ]:
SELECT noteevents.subject_id, 
                      noteevents.category, 
                      noteevents.text, 
                      icd9.code 
               FROM noteevents INNER JOIN icd9 ON 
                      noteevents.subject_id = icd9.subject_id 
               WHERE (icd9.code = '427.31' ) 
                      AND noteevents.category = 'Nursing/Other'"""

In [ ]:
urineoutput.shape

In [ ]:
urineoutput["subject_id"].unique()

In [ ]:
sns.distplot(urineoutput[urineoutput["subject_id"].isin([26,61,21,32711])]["volume"].dropna(), 
             bins=100)